.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loginPage{
  margin : 20px;
  width: 50%;
  border:2px solid #85C1E9;
  padding:10px;
}

.menuBtn{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  width: 400px;
  height: 200px;
  margin:50px;
}

.backButton{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  width: 100px;
  position: absolute;
  right: 13.1%;
  margin-top :5px;
}

.categoryColumn{
  width: 300px;
  height: 900px;
  overflow-y: auto;
}

.shoppingListColumn{
  width: 300px ;
  height: 900px;
  overflow-y: auto;
}

.btnPay{
  position: absolute;
  bottom: 2%;
  width: 260px;
}

.productCards{
  width: 400px;
  height: 250px;
  margin-left: 100px;
  margin-right: 65px;
  margin-top:20px;
  margin-bottom:20px;
}

.productBigCard{
  height: 900px;
}

.productBigCardBody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

