.cardCss{
  width: 100%;
  margin-top: 10%;
  margin-left:25%;
}

.loginPageTitle{
  margin-left: 25%;
}

.icon {
  margin-left:95%;
}

.signOutBtn {
  position: absolute;
  right: 1%;
  margin-top: 0.4%;
}

.lblUserName {
  position: absolute;
  right: 8%;
  margin-top: 1.2%;
  font-weight:bold ;
}

.productListAddProduct{
  width: 7.2%;
  height: 50px;
  margin-left:0.4%;
  margin-top:0.4%;
}

.productTable{
  margin-top : 0.5%;
}

.usersTable{
  margin-top : 0.5%;
}

.listAddButton {
  width: 7.2%;
  height: 50px;
  margin-left:0.4%;
}

.dropdownCss {
  width: 20%;
  margin-left:1%;
  margin-top:0.4%;
}

.dropdownCss2 {
  width: 20%;
  margin-left:2.4%;
  margin-top:0.2%;
}

.addProductButtonCss {
  margin-top:1%;
}

.dropDownAddProductPage{
 width: 100%;
}
.tempCss {
  margin-top:0.5%;
}

.addUserCss {
  margin-top:0.7%;
}

.infoListTitle {
  text-align: center;
  margin-top: 1%;
}

.headerCss {
  background-color: #34495E;
}

.btnCss {
  background-color: #FDFEFE;
  font-family: "Leelawadee UI";
  color:#17202A;
}

.addCategoryButton {
  width: 7.2%;
  height: 50px;
  margin-left:0.4%;
  margin-top:0.4%;
}
